<!DOCTYPE html>
<html>

<head>
  <title></title>
</head>

<body>
  <a href="<%=facebookUrl%>">
    Facebook Login
  </a>
  <!-- <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" 
  src="https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v12.0&appId=264574525535124&autoLogAppEvents=1"
  nonce="4h3xfQK6"></script>
  <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" 
  data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
</body>

</html>